* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

header{
    text-align: center;
    margin: 50px 0px;
}

main{
    width: 68%;
    margin: 0 auto;
}


.lorem{
    text-align: center;
    margin-bottom: 35px;

}


.edit{
    width: 30%;
    margin: 15px 15px;
    background-color: rgb(0, 0, 0);
    float: left;
    color: #fff;
}
.immagine{
    height: 100px;
    float: left;
}
.edit div{
    margin: 18px 119px;
}
